@import "tailwindcss";

@theme {
  --animate-slideOut: slideOut 0.5s ease-in-out forwards;
  --animate-slideIn: slideIn 0.5s ease-in-out forwards;
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(150px);
  }
}
@keyframes slideIn {
  0% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: initial;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}
